<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <style>
        body {
            background-size: cover;
            background-color: #F0FFFF;
        }
        #app {
            background-color: #F0FFFF;
            margin: 200px 450px;
            border-color: #8cc5ff;
            border-radius: 20px;
            padding: 20px 40px;
            border-style: solid;
            border-width: 5px;
        }





    </style>
</head>

<body >
<script src="js/vue.js"></script>
<script src="element-ui/lib/index.js"></script>
<script src="js/axios-0.18.0.js"></script>
<link rel="stylesheet" href="element-ui/lib/theme-chalk/index.css">
<div class="content">
<div id="app">

<el-form ref="form" :model="form" label-width="80px">
    <el-form-item label="账号">
        <el-input v-model="form.accountNumber" @blur="formValid"></el-input>
    </el-form-item>
    <el-form-item label="密码">
        <el-input  v-model="form.password" show-password></el-input>
    </el-form-item>
    <div hidden="hidden" id="formationCheck1">
    <el-form-item>
        <template>
            <el-alert
                    title="账号格式正确"
                    type="success"
                    show-icon
                    :closable="false" disabled="true">
            </el-alert>
        </template>
    </el-form-item>
    </div>
    <div hidden="hidden" id="formationCheck2">
        <el-form-item>
            <template>
                <el-alert
                        title="账号格式错误，请输入9位数字"
                        type="error"
                        show-icon
                        :closable="false" disabled="true">
                </el-alert>
            </template>
        </el-form-item>
    </div>

    <el-form-item label="">
        <el-checkbox-group v-model="form.type">
            <el-checkbox label="记住密码" name="type"></el-checkbox>
        </el-checkbox-group>
        <el-link href="https://element.eleme.io" target="_blank">注册账号</el-link>
    </el-form-item>
    <el-form-item>
        <el-button type="primary" class="btn" size="medium" @click="onSubmit">登录</el-button>
    </el-form-item>
</el-form>
</div>
</div>
<script>
    new Vue( {
        el:"#app",
        data() {
            return {
                form: {
                    accountNumber: '',
                    password:'',
                    type:''
                }
            }
        },
        methods: {
            onSubmit() {
                axios({
                   method: "post",
                   url:"http://localhost/Login/login",
                   data:{
                       id:this.form.accountNumber,
                       password: this.form.password
                   }
                }).then(resp=>{
                    if(resp.data=="account error")
                    {
                        this.$message.error('账户不存在！');
                    }
                    else if(resp.data=="password error")
                    {
                        this.$message.error('密码输入错误！');
                    }
                    else{
                        this.$message({
                            message: '登录成功！',
                            type: 'success'
                        });
                        document.location="./"
                    }
                });
            },

            formValid(){
                let reg=/^\d{1}$/;
                if(reg.test(this.form.accountNumber))
                {
                    document.getElementById("formationCheck2").hidden=true;
                    document.getElementById("formationCheck1").hidden=false;
                }
                else
                {
                    document.getElementById("formationCheck1").hidden=true;
                    document.getElementById("formationCheck2").hidden=false;
                }
            }
        }
    });
</script>
</body>
</html>